#NewSection {
	padding: 20px 0px 50px;
	background-color: #1B1B1B;

	.box-title {
		border-bottom: 1px solid #9FB201;
		margin: 30px 0px;
		color: #fff;

		.fa-newspaper {
			color: #9FB201;
		}
	}

	.new-box {
		margin-top: 40px;

		.new-detail {
			margin-bottom: 40px;

			h4{
				color: #fff;
				
				&:hover {
					color: #9FB201;
				}
			}

			.date {
				color: #7A7A7A;
			}

			.description {
				font-size: 14px;
				color: #fff;

				a {
					color: #9FB201;
				}
			}
		}
	}
}

@media only all and (max-width: 768px) {
	#NewDetailPage {
		.new-box {
			
			.new-detail {
				h5 {
					font-size: 16px;
				}
			}
		}
	}
}

@media only all and (max-width: 576px) {
	#NewDetailPage {
		.new-box {
			
			.new-detail {
				h5 {
					margin-top: 20px;
				}
			}
		}
	}
}